body{
       background: red; 
    background: linear-gradient(#cce5ff, #4da3ff);
    background-repeat: no-repeat;
    background-size: 100% 1500%;
   
}
#box{
    
    position: absolute;
  border: 1px solid white;
    left: 25%;
    background-color: white;
    z-index: 1;
    top: 10%;
    box-shadow: 0px 0px 2px 2px darkgrey;
    width: 50%;
    height: auto;
}
#heading{
    position: relative;
    left: 40%;
    font-family: 'sofia';
}
font{
    margin-left: 5%;
}
input:enabled{
    border: none;
    outline: none;
     border-bottom: 1px solid darkgrey;
}
input{
     border: none;
     border-bottom: 1px solid darkgrey;
    width: 90%;
    height:2em;
    margin-left: 5%;
}
.radio{
    margin-left: 5%;
    width: 1.2em;
}
#sub{
    width: 20%;
    background-color: deepskyblue;
    position: relative;
    left: 33%;
    height: 3em;
    border-radius: 5px;
}
#sub:hover{
    cursor: pointer;
    background-color: darkblue;
}
